.TaskItem {
    display: flex;
    flex-direction: column;
    padding-right: 0;
    background-color: #fff;

    border-radius: 20px;

    min-width: 300px;
    max-width: 5rem;
    
    margin: 13px;
    padding: 10px;

    box-shadow: 5px 2px 24px 0px rgba(66, 68, 90, 0.26);
}

.BoxImage {
    display: flex;
    justify-content: center;
    margin-top: -1.5em;

}

.BoxImage>img {
    width: auto;
    height: 60px;
    border: 1px solid #eee;
    border-radius: 50%;
    vertical-align: middle;
    align-items: center;
    background-color: #eee;

    padding: 10px 0px;
}

.TaskDetails>p {
    margin: 0;
}

.TaskItem > .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}