.Dashboard {
    display: grid;
    grid-template-rows: repeat(12, 1fr);
    grid-gap: 10px;

    text-align: center;
    background-color: #E0E0E0;

    width: 100%;
    padding: 0;
}

.Dashboard>.Logo {
    grid-row: 1 / 2;
}

.Dashboard>.NavMenu {
    grid-row: 2 / 12;
}