.Dashboard {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;

    background-color: #fbfaff60;
}

.Dash-header {
    text-align: center;
}



nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25% 0;
}