.Dashboard {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;

    background-color: #fbfaff60;
}

.Dash-header {
    text-align: center;
}

.App-name {
    font-size: 22px;
}

.App-name > .first{
    font-weight: 400;
}

.App-name > .second{
    font-weight: 600;
}

nav{
    display: flex;
    flex-direction: column;
}