.App {
  display: grid;
  grid-template-rows: repeat(12, 1fr);
  grid-template-columns: minmax(3fr, auto) auto;
  grid-gap: 10px;

  padding: 10px;

  color: #23235f;

  background-image: linear-gradient(to right top, #96adc4, #afb1c7, #c3b6c6, #cebec5, #d3c8c8);
}

.App>.Dashboard {
  grid-row: 1 / 13;
  grid-column: 1 / 2;
}

.App>.Sidebar {
  grid-row: 1 / 13;
  grid-column: 12 / 13;
}

.App>.Header {
  grid-row: 1 / 2;
  grid-column: 2 / 12;
}

.App>.Main {
  grid-row: 2 / 12;
  grid-column: 2 / 12;
}

.App>.Footer {
  grid-row: 12 / 13;
  grid-column: 2 / 12;
}

.App>* {
  border-radius: 20px;
  box-shadow: 5px 2px 24px 0px rgba(66, 68, 90, 0.26);
}

/* GLOBAL CSS */

/* From uiverse.io by @ke1221 */
button {
  color: #090909;
  /* padding: 0.8em 1em; */
  /* font-size: 1rem; */
  /* border-radius: 1.5em; */
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  transition: all .3s;
  box-shadow: 6px 6px 12px #c5c5c5,
    -6px -6px 12px #ffffff;
}

button:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5,
    inset -4px -4px 12px #ffffff;
}

/* GLOBAL FORM CSS */

.inputGroup {
  margin: 1em 0;
  max-width: 300px;
}

.inputGroup input {
  font-size: 100%;
  padding: 0.8em 1em;
  border: 2px solid rgb(200, 200, 200);
  background-color: transparent;
  border-radius: 20px;
  width: 100%;
}

.inputGroup button {
  padding: 0.8em 1em;
  font-size: 1rem;
  border-radius: 1.5em;
  width: 100%;
}